{% extends 'home.html' %}
{% block title %} Add Pets {% endblock %}
{% block content %}

    <h1 class="mt-2 mb-4">Add Pet</h1>
<form class="container col-md-4 col-md-offset-4" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden'%}
    <div class="form-group">
        {{field.label}}
        {{field(class_="form-control")}}
        <span>
          {% if field.errors %}
            {% for err in field.errors %}
              <b class="form-text text-danger">
              {{err}}
              </b>    
            {% endfor %}
          {% endif %}
        </span>
    </div>
    {% endfor %}
        <button class="form-control form-control-sm btn btn-primary">Submit</button>
    </form>

{% endblock %}